.wrapper {
  padding: 4rem 0;
  height: 35vh;
  .header {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;

    .tab {
      cursor: pointer;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-bottom: 2px solid transparent;
      transition: all 0.3s ease;

      &:hover {
        border-color: #ccc;
      }
    }

    .activeTab {
      border-color: #0070f3;
      font-weight: bold;
    }
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    a {
      display: inline-block;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
