.wrapper {
  padding: 4rem 0;

  @media (max-width: 768px) {
    padding: 1rem 0;
  }
}

.submitButton {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  width: max-content;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #caebf6;

  &:hover {
    background-color: #24aadb;
    color: white;
  }
}

.contactSection {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.formSection,
.infoSection {
  flex: 1 1 45%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;

  h2 {
    font-size: 1.8rem;
    margin: 4rem 0;
    @media (max-width: 768px) {
      margin: 2rem 0;
    }
  }

  p {
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    flex: 1 1 100%;
    text-align: center;
  }
}

.card {
  border-radius: 5px;
  background: #f4f6f7;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 100%;
  @media (max-width: 768px) {
    text-align: start;
  }
  .iconContainer {
    display: flex;
    gap: 0.2rem;
    align-items: center;
  }

  .socialIcons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: underline;
  }
}

.infoCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .card:nth-child(5) {
    grid-column: span 2;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    .card:nth-child(5) {
      grid-column: span 1;
    }
  }
}

.infoSection {
  .mapContainer {
    margin: 1.5rem 0;
    border-radius: 8px;
    overflow: hidden;

    @media (max-width: 768px) {
      height: 300px;
    }
  }

  .socials {
    margin-top: 2rem;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .icons {
      display: flex;
      gap: 1rem;

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          color: #fff;
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
