.wrapper {
  background: #fff;
  padding: 40px 0;

  .news_group {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
