.wrapper {
  background: #f9f9f9;
  padding: 40px 0;
  font-family: "FuturaPT", Arial, sans-serif;
}

.newsGroup {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
