.wrapper {
  background: rgb(242, 240, 240);
  padding: 2rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  .content {
    max-width: 632px;
    width: 100%;

    h1 {
      font-size: 24px;
      color: #000000;
      text-align: start;
      font-weight: 900;
      margin-bottom: 10px;
      font-family: impact, sans-serif;

      @media (max-width: 768px) {
        font-size: 20px;
        text-align: center;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .item {
        display: flex;
        gap: 1rem;
        align-items: center;

        @media (max-width: 768px) {
          flex-direction: column;
          text-align: center;
          gap: 0.75rem;
        }

        h2 {
          font-size: 20px;
          color: #000000;
          font-weight: 700;

          @media (max-width: 768px) {
            font-size: 18px;
          }
        }

        img {
          width: 32px;
          height: 32px;

          @media (max-width: 768px) {
            width: 24px;
            height: 24px;
          }
        }
      }

      .btn {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: #caebf6;
        width: max-content;

        &:hover {
          background-color: #24aadb;
          color: white;
        }

        @media (max-width: 768px) {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .images {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    img {
      max-width: 100%;
      height: auto;

      @media (max-width: 768px) {
        align-self: center;
      }
    }
  }
}
