.wrapper {
  padding: 5rem 0;
}
.card {
  display: flex;
  gap: 30px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.imageSection {
  flex: 1;
  position: relative;

  .mainImage {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    object-fit: cover;
  }

  .thumbnailCarousel {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .carouselButton {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #333;
      margin: 0 20px;

      &:hover {
        color: #007bff;
      }
    }

    .thumbnails {
      display: flex;
      gap: 3rem;
      overflow-x: auto;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border: 2px solid #ddd;
        border-radius: 8px;
        cursor: pointer;
        transition: border-color 0.3s ease;

        &:hover {
          border-color: #007bff;
        }

        &.activeThumbnail {
          border-color: #007bff;
        }

        &.selectedThumbnail {
          border-color: #007bff;
          border-width: 3px;
        }
      }
    }
  }
}

.detailsSection {
  flex: 1;
  padding: 20px;
  width: 100%;

  .productName {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }

  .price {
    font-size: 22px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
  }

  .additionalInfo {
    margin-top: 20px;

    h2 {
      font-size: 22px;
      margin-bottom: 15px;
    }

    .category {
      margin-bottom: 25px;

      h3 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .attributes {
        list-style: none;
        padding: 0;

        .attributeItem {
          display: flex;
          align-items: center;
          font-size: 16px;
          color: #444;

          p {
            width: 100%;
            color: #999;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            align-items: baseline;
            white-space: nowrap;
            display: flex;
            &::after {
              content: "";
              display: block;
              flex: 1;
              border-bottom: 1px dashed #ccc;
              margin: 0 10px;
            }
          }

          span {
            color: black;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            align-items: baseline;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
