.wrapper {
  padding: 40px 0;
  background-color: #f9f9f9;

  .title {
    text-align: start;
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
  }

  .card {
    text-align: center;
    padding: 10px;
    width: 100%;
    .image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .title {
      margin-top: 10px;
      font-size: 16px;
      color: #555;
    }
  }

  @media (max-width: 1024px) {
    .card {
      padding: 8px;
      .title {
        font-size: 14px;
      }
    }

    .nextArrow {
      right: -15px;
    }

    .prevArrow {
      left: -15px;
    }
  }

  @media (max-width: 768px) {
    .title {
      font-size: 20px;
      text-align: center;
    }

    .card {
      .title {
        font-size: 12px;
      }
    }

    .nextArrow,
    .prevArrow {
      display: none;
    }
  }

  @media (max-width: 576px) {
    padding: 20px 0;

    .card {
      .image {
        border-radius: 5px;
      }
    }
  }
}
