@import "../../../variables.scss";
.wrapper {
  padding: 40px 0;
  font-family: "FuturaPT", Arial, sans-serif;
  h2 {
    font-family: impact, sans-serif;
    font-size: $h2-font-size;
    color: $h2-color-dark;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 30px;
    }

    @media (max-width: 480px) {
      font-size: 24px;
    }
  }

  hr {
    width: 3rem;
    margin: 0 auto;
    border: 2px solid #343434;
  }
}
