.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mapContainer {
  width: 100%;
  height: 400px;
}

.contactInfo {
  .title {
    font-size: 2rem;
    margin: 4rem 0 !important;
  }
  .infoCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }

  .card {
    background: #f9f9f9;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
    h3 {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      color: #555;
    }
  }

  .socialIcons {
    display: flex;
    gap: 0.5rem;

    a {
      font-size: 1.5rem;
      color: #0077b5;

      &:hover {
        color: #005582;
      }
    }
  }
}
