.wrapper {
    padding: 30px 0;
    font-family: "FuturaPT", Arial, sans-serif;
  h2 {
    
    font-size: 40px;
    color: #343434;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  hr{
    width: 3rem;
    margin: 0 auto;
    border: 2px solid #9c9999;
  }
}
